.button-fr {
  width: 80px;
  background-color: #aedfa1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-color: transparent;
}
.button-fr:focus {
  background-color: #48c029;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}

.button-en {
  width: 80px;
  background-color: #aedfa1;
  border-color: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.button-en:focus {
  background-color: #48c029;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
